<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/chat.js"></script>
</head>
<body>
<h1>RoomName:<span th:if="${room != null}" th:text="${room.getName()}"></span></h1>
<h1>RoomOwner:<span th:if="${room != null}" th:text="${room.getOwner().getUsername()}"></span></h1>
<h1>RoomType:<span th:if="${room != null}" th:text="${room.getType()}"></span></h1>
<h1>Commands:</h1>
<p>//room create {roomName}  --  create public room</p>
<p>//room create -c {roomName}  --  create private room</p>
<p>//room remove {roomName}  --  remove room</p>
<p>//room connect {roomName}  --  enter in room</p>
<p>//room connect {roomName} -l {login}  --  enter user in room</p>
<p>//room disconnect  --  exit from room</p>
<p>//room disconnect -l {login} -m {minutes}  --  exit user from room for {minutes}</p>
<br>
<p>//user rename {new username}  --  rename</p>
<p>//user ban -l {login} -m {minutes}  --  ban user for {minutes}</p>
<p>//user moderator -n {login}  --  make user moderator</p>
<p>//user moderator -d {login}  --  make user simple</p>
<div id="main-content" class="container">
</div>
<div class="row">
    <div class="col-md-6">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" id="message" class="form-control" placeholder="Your message here...">
            </div>
            <button id="sendMessage" class="btn btn-default" type="submit">Send</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Messages</th>
            </tr>
            </thead>
            <tbody id="messages">
            </tbody>
        </table>
    </div>
</div>
</body>