<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="connect()">
<h1>CHAT</h1>
<form>
    Username:<p th:text="${user.getLogin()}"></p>
    <input type="button" id="connectButton" name="connectButton" onclick="connect()" value="connect to chat"><br/>
    Message:<input type="text" id="message" name="message"/><br/>
    <input type="button" id="sendButton" value="Send" style="visibility: hidden" onclick="sendMessage()"/>
</form>
<input type="button" style="visibility: hidden" onclick="closeConnection()" id="closeConnection"
       value="close connection">
<ul id="messageArea">
</ul>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/lib.js"></script>
</html>