<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>
    <form>
        Username:<input type="text" id="name" name="name"/> <br/>
        Message:<input type="text" id="message" name="message"/><br/>
        <input type="button"  value="Send" onclick="sendMessage()"/>
    </form>
    <ul id="messageArea">

    </ul>
</h1>
</body>
<script>
    var socket = new WebSocket("ws://localhost:8080/chat");

    function sendMessage() {
        var name = document.getElementById("name").value;
        var text = document.getElementById("message").value;
        var message = {
            from: name,
            text: text
        };
        console.log(message);
        socket.send(JSON.stringify(message));
    }


    socket.onopen = function () {
        alert("Соединение установлено.");
    };

    socket.onclose = function (event) {
        if (event.wasClean) {
            alert('Соединение закрыто чисто');
        } else {
            alert('Обрыв соединения'); // например, "убит" процесс сервера
        }
        alert('Код: ' + event.code + ' причина: ' + event.reason);
    };

    socket.onmessage = function (event) {
        alert("Получены данные " + event.data);
    };

    socket.onerror = function (error) {
        alert("Ошибка " + error.message);
    };
</script>
</html>